@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #121212;
    font-family: 'Roboto', sans-serif;
}

.font-small, a:link{
    color: white;
    font-size: 1.2vw;
    font-weight: 300;
}

.font-medium {
    color: #CCCCCC;
    font-size: 1.4vw;
    margin: 0;
}

.font-medium-white {
    color: white;
    font-size: 1.4vw;
}

.font-big {
    color: white;
    font-size: 2vw;
    font-weight: 400;
}

.indent {
    padding-left: 5vw;
    padding-bottom: 2vw;
}

.bold {
    font-weight: 500;
}

.backdrop {
    width: 99.5vw;
    height: 35vw;
    padding-bottom: 2vw;
    object-fit: cover;
}

.main-content {
    padding: 0 5vw;
    display: flex;
    gap: 1.5vw;
    overflow: auto;
    white-space: nowrap;
    padding-bottom: 3.5vw;
}

::-webkit-scrollbar{
    height: 0.5vw;
    width: 0.5vw;
    background: #121212;
}
::-webkit-scrollbar-thumb {
    background: #373737;
    border-radius: 0.7vw;
}

.card {
    background-color: #2C2C2C;
    display: flex;
    flex-direction: column;
    border-radius: 0.7vw;
    width: max-content;
    gap: 0.7vw;
    padding-bottom: 1vw;
    width: 15vw;    
}

.card .font-small {
    margin: 0;
    width: 13vw;
    word-break: break-word;
    white-space: pre-line;
    overflow-wrap: break-word;
    word-break: break-word;
}

.content {
    padding: 0 1vw;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

.poster {
    width: 15vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 0.7vw 0.7vw 0 0;
}

.star {
    width: 1.2vw;
}

.rating {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.detail {
    display: flex;
    gap: 5vw;
    padding: 0 5vw 5vw 5vw;
}

.poster-detail {
    width: 25vw;
    height: 30vw;
    object-fit: cover;
    border-radius: 0.7vw;
}

.content-detail {
    display: flex;
    flex-direction: column;
}

.profile {
    width: 10vw;
    height: 10vw;
    object-fit: cover;
    border-radius: 0.7vw;
    border: 0.1vw solid #2C2C2C;
}

.cast {
    display: flex;
    flex-direction: row;
}